<!DOCTYPE html>
<html>
<head>
    <title>Dreamsystem | Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <!-- CSS -->
     <link href="resources/css/bootstrap.css" rel="stylesheet"/>
     <link href="resources/css/bootstrap-theme.css" rel="stylesheet"/>
     <!-- JS -->
     <script src="resources/js/jquery.js"></script>
     <script src="resources/js/bootstrap.js"></script>

</head>

<body role="document">

	<h1>Error</h1>
	<p th:text="${status}"></p>
</body>
</html>